@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #26355c;
  --foreground: #ffffff;
  --text-base: #ffffff;
  --text-secondary: #23365c;
  --text-grey: #999999;
  --button-primary: #ffffff;
  --button-secondary: #23365c;
  --button-hover: #ffffff;
  --button-accent: #fc6e24;
  --border-primary: #ffffff;
  --border-secondary: #23365c;
}
